.btn {
  &,
  &:link,
  &:visited {
    display: inline-block;
    border-radius: 7px;
    letter-spacing: 1px;
    font-weight: 700;
    cursor: pointer;
    border: none;
    width: 150px;
    height: 69px;
    font-size: 1.7rem;
    transition: all 0.3s;
    @include xs {
      width: 170px;
      height: 35px;
    }
  }

  &:hover {
    color: #000;
    background: var(--primaire-second);
  }

  &--primaire {
    background: var(--primaire);
    color: white;
  }
}

select {
  // position: absolute;
  // transform: translate(-50%, -50%);
  // top: 50%;
  // left: 50%;
  // appearance: none;
  // width: 305px;
  padding: 10px 20px;
  background: #901c1c;
  color: white;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.5px;
  cursor: pointer;
  border-radius: 5px;
  // appearance: none;
}

select::-ms-expand {
  display: none;
}

select option {
  letter-spacing: 1.2px;
  font-weight: 400;
  font-size: 18px;
}

.selected {
  display: none;
}
