// tag
.tag {
  font-weight: 500;
  font-size: 1.4rem;
  padding: 0.1rem 0.6rem;
  border: 0.5px solid #c4c4c4;
  border-radius: 11px;
  // color: #901c1c;
  margin: 0 0.3rem 1.3rem 0.3rem;
  cursor: pointer;
  transition: all 0.3s;
  &:hover {
    background-color: var(--primaire);
    color: #fff;
  }
  // resp
  @include xs {
    margin: 0.2rem;
  }
}

// Photographer tag
.photographer__tag--item:first-child {
  margin-left: 0;
}

// photographer Modal contact
.calc {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: lightboxIn 0.5s;

  .modal {
    background: #db8876;
    // min-width: 50rem;
    width: 69rem;
    border-radius: 3px;
    padding: 3rem;
    position: relative;

    // resp
    @include xs {
      padding: 0;
    }

    &__header {
      align-items: center;
      display: flex;
      justify-content: space-between;

      button {
        background: transparent;
      }

      // title
      &--title {
      }
      &--userName {
        display: block;
      }
      //  Close Button
      &--close {
        margin-right: 45px;
        margin-top: 35px;
        @include xs {
          margin-top: 0;
          margin-right: 16px;
        }
      }
    }

    .form {
      @include xs {
        display: flex;
        flex-direction: column;
      }
      &--input {
        border-radius: 5px;
        border: none;
        height: 52px;
        width: 100%;
      }
      &--text-area {
        height: 184px;
        border: none;
        border-radius: 5px;
      }
      &--field {
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
      }
    }
    .btn {
      margin-top: 2rem;
      @include xs {
        margin: auto;
      }
    }
  }
}

.modal-content {
  background-color: #db8776;
  margin: auto;
  padding: 0rem 2rem 3rem 2rem;
  position: relative;
}

.modal-form {
  padding: 1rem 0rem;
}

.modal__header--close {
  position: absolute;
  top: 0;
  right: 0;
  padding-right: 3px;
  // background: #db8876;
  border: 0;
  color: #fff;
  font-size: 50px;
  font-weight: 300;
  background: transparent;

  @include xs {
    font-size: 35px;
  }

  &:hover,
  &:focus {
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
    cursor: pointer;
  }
}

// Modal lightbox média
.media__card--video {
  width: 100%;
}
.lightbox {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  animation: lightboxIn 0.5s;
  transition: opacity 0.3s;

  button {
    opacity: 1;
    cursor: pointer;
    transition: opacity 0.3s;
    text-indent: -30000px; /*caché le texte suivant...*/

    &:hover {
      opacity: 0.7;
    }
  }

  &__close {
    width: 12%;

    border: none;
    height: 30px;
    background: url('../images/close.svg') center center / 100% 100% no-repeat
      transparent;
    position: absolute;
    top: 0;
    right: 9px;
    z-index: 12;

    // resp
    @include xs {
      height: 15px;
      right: -38px;
    }
  }

  &__prev {
    right: auto;
    left: 0;
    transform: rotate(180deg);
  }

  &__loader {
    width: 38px;
    height: 38px;
    opacity: 0.5;
    background: url('../images/loader.svg') center center no-repeat;
  }
}

.lightbox.fadeOut {
  opacity: 0;
}
.lightbox__next,
.lightbox__prev {
  border: none;
  background: url('../images/arrow.svg') center center / 25px 60px no-repeat;
  width: 40%;

  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  margin-top: -14px;
  z-index: 11;

  // resp
  @include xs {
    background: url('../images/arrow.svg') center center / 12px 60px no-repeat;
    width: 36px;
  }
}

.lightbox {
  &__title {
    @include xs {
      font-size: 14px;
      font-weight: normal;
      margin: 0;
    }
  }
  &__image {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__container img {
    max-width: 100%;
    border-radius: 5px;
    width: 100%;
    height: 700px;
    object-fit: cover;
    object-position: 50% 30%;
    animation: lightboxIn 0.5s;
    // resp
    @include xs {
      height: 248px;
    }
  }
}

.lightbox__container,
.lightbox__block {
  width: clamp(290px, 70%, 100%);
  position: relative;
  margin: auto;
}

/* DROPDOWN */
.filter {
  &__dropdown {
    display: flex;
    align-items: center;
    margin: 3rem 0 3rem 0;
  }
  &__label {
    font-size: 18px;
    font-weight: bold;
    margin-right: 25px;
  }
  &__selected {
    display: none;
  }
  @include select;
}
