// tag
.tag {
  font-weight: 500;
  font-size: 1.4rem;
  padding: 0.1rem 0.6rem;
  border: 0.5px solid #c4c4c4;
  border-radius: 11px;
  // color: #901c1c;
  margin: 0 0.3rem 1.3rem 0.3rem;
  cursor: pointer;
  transition: all 0.3s;
  &:hover {
    background-color: var(--primaire);
    color: #fff;
  }
  // resp
  @include xs {
    margin: 0.2rem;
  }
}

// Photographer tag
.photographer__tag--item:first-child {
  margin-left: 0;
}
