// main
.main {
  position: relative;
  // title H1
  &__title {
    color: var(--primaire);
    position: absolute;
    right: 0px;
    top: -126px;

    // resp
    @include xs {
      font-size: 1.4rem;
      position: fixed;
      top: 0;
      right: 0;
      margin-right: 30px;
      margin-top: 45px;
    }
  }
}

// Photographe
.photographer {
  justify-content: space-between;

  // la liste
  &__list {
    justify-content: space-between;

    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
  }

  // 1 article
  &__item {
    width: 30%;
    text-align: center;
    display: block;
    margin-bottom: 35px;

    h2 {
      font-size: 3.6rem;
      font-weight: normal;
      color: var(--primaire-second);
      line-height: 2rem;
    }
    img {
      width: 200px;
      height: 200px;
      border-radius: 50%;
      object-fit: cover;
    }

    // resp
    @include xs {
      width: 100%;
    }

    // tag
    &--tag {
      color: var(--primaire);
    }
  }

  &__item__content {
    font-size: 1.3rem;
    margin-bottom: 0.7rem;
    &--location {
      text-transform: capitalize;
      color: var(--primaire);
      margin: 0;
    }
    &--tagline {
      margin: 0;
      font-size: 1.2rem;
    }
    &--price {
      margin: 0;
      font-size: 1rem;
      color: var(--secondaireAAA);
    }
  }
}
