// header
.header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  overflow: hidden;
  align-items: center;
  // resp
  @include xs {
    flex-flow: row wrap;
    margin-top: 30px;
  }

  // link top
  &__photographers {
    background: #db8876;
    border-radius: 5px;
    display: none;
    font-weight: 700;
    left: 0;
    margin: 0 auto;
    position: fixed;
    right: 0;
    text-align: center;
    top: 5px;
    width: 180px;
    z-index: 1;
    padding: 3px;
  }
  // images logo
  &__logo {
    img {
      width: 20rem;
      // resp
      @include xs {
        width: 128px;
      }
    }
  }
  // Les tags"ul"
  &__tags {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    // resp
    @include xs {
      margin: 10px;
    }
    // element tag "li"
    &--elem {
      font-weight: 500;
      font-size: 1.4rem;
      padding: 0.1rem 0.6rem;
      border: 0.5px solid #c4c4c4;
      border-radius: 11px;
      color: #901c1c;
      text-transform: capitalize;
      margin: 0 0.3rem 1.3rem 0.3rem;
      cursor: pointer;
      transition: all 0.3s;
      &:hover {
        background-color: var(--primaire);
        color: #fff;
      }
      // resp
      @include xs {
        margin: 0.2rem;
      }
    }
  }
  // H1 header
  h1 {
    color: var(--primaire);
    // resp
    @include xs {
      font-size: 1.4rem;
      position: fixed;
      top: 0;
      right: 0;
      margin-right: 30px;
      margin-top: 35px;
    }
  }
}

main {
  height: 250rem;
}
