// header
.header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  width: 75%;
  overflow: hidden;
  align-items: center;
  padding-top: 35px;

  // resp
  @include xs {
    justify-content: space-between;
    width: 100%;
  }

  // link top
  &__photographers {
    background: #db8876;
    border-radius: 5px;
    display: none;
    font-weight: 700;
    left: 0;
    margin: 0 auto;
    position: fixed;
    right: 0;
    text-align: center;
    top: 5px;
    width: 180px;
    z-index: 1;
    padding: 3px;
  }
  // images logo
  &__logo {
    img {
      width: 20rem;
      // resp
      @include xs {
        width: 128px;
      }
    }
  }
  // Les tags"ul"
  &__tags {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    position: relative;
    top: 1px;
    text-transform: capitalize;

    // resp
    @include xs {
      margin: 10px;
    }
    // element tag "li"
    &--elem {
      color: var(--primaire);
    }
  }
}

.header.header.photographers {
  justify-content: start;
  padding-bottom: 3rem;
}
