@charset "UTF-8";
:root {
  font-family: 'Roboto', sans-serif;
  --primaire: #901c1c;
  --primaire-second: #d3573c;
  --secondaire: #d3573c;
  --secondaireAAA: #525252;
  --tertiaire: #99e2d0;
  --text: #333;
  --background-primaire: #fff;
  --background-secondaire: #f6f6f6; }

/* Landscape phones */
/* Landscape phone to portrait tablet */
/* Portrait tablet to landscape and desktop */
/* Large desktop */
.tag {
  font-weight: 500;
  font-size: 1.4rem;
  padding: 0.1rem 0.6rem;
  border: 0.5px solid #c4c4c4;
  border-radius: 11px;
  margin: 0 0.3rem 1.3rem 0.3rem;
  cursor: pointer;
  transition: all 0.3s; }
  .tag:hover {
    background-color: var(--primaire);
    color: #fff; }
  @media only screen and (max-width: 480px) {
    .tag {
      margin: 0.2rem; } }

.photographer__tag--item:first-child {
  margin-left: 0; }

.calc {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: lightboxIn 0.5s; }
  .calc .modal {
    background: #db8876;
    width: 69rem;
    border-radius: 3px;
    padding: 3rem;
    position: relative; }
    @media only screen and (max-width: 480px) {
      .calc .modal {
        padding: 0; } }
    .calc .modal__header {
      align-items: center;
      display: flex;
      justify-content: space-between; }
      .calc .modal__header button {
        background: transparent; }
      .calc .modal__header--userName {
        display: block; }
      .calc .modal__header--close {
        margin-right: 45px;
        margin-top: 35px; }
        @media only screen and (max-width: 480px) {
          .calc .modal__header--close {
            margin-top: 0;
            margin-right: 16px; } }
    @media only screen and (max-width: 480px) {
      .calc .modal .form {
        display: flex;
        flex-direction: column; } }
    .calc .modal .form--input {
      border-radius: 5px;
      border: none;
      height: 52px;
      width: 100%; }
    .calc .modal .form--text-area {
      height: 184px;
      border: none;
      border-radius: 5px; }
    .calc .modal .form--field {
      display: flex;
      flex-direction: column;
      margin-bottom: 1rem; }
    .calc .modal .btn {
      margin-top: 2rem; }
      @media only screen and (max-width: 480px) {
        .calc .modal .btn {
          margin: auto; } }

.modal-content {
  background-color: #db8776;
  margin: auto;
  padding: 0rem 2rem 3rem 2rem;
  position: relative; }

.modal-form {
  padding: 1rem 0rem; }

.modal__header--close {
  position: absolute;
  top: 0;
  right: 0;
  padding-right: 3px;
  border: 0;
  color: #fff;
  font-size: 50px;
  font-weight: 300;
  background: transparent; }
  @media only screen and (max-width: 480px) {
    .modal__header--close {
      font-size: 35px; } }
  .modal__header--close:hover, .modal__header--close:focus {
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
    cursor: pointer; }

.media__card--video {
  width: 100%; }

.lightbox {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  animation: lightboxIn 0.5s;
  transition: opacity 0.3s; }
  .lightbox button {
    opacity: 1;
    cursor: pointer;
    transition: opacity 0.3s;
    text-indent: -30000px;
    /*caché le texte suivant...*/ }
    .lightbox button:hover {
      opacity: 0.7; }
  .lightbox__close {
    width: 12%;
    border: none;
    height: 30px;
    background: url("../images/close.svg") center center/100% 100% no-repeat transparent;
    position: absolute;
    top: 0;
    right: 9px;
    z-index: 12; }
    @media only screen and (max-width: 480px) {
      .lightbox__close {
        height: 15px;
        right: -38px; } }
  .lightbox__prev {
    right: auto;
    left: 0;
    transform: rotate(180deg); }
  .lightbox__loader {
    width: 38px;
    height: 38px;
    opacity: 0.5;
    background: url("../images/loader.svg") center center no-repeat; }

.lightbox.fadeOut {
  opacity: 0; }

.lightbox__next,
.lightbox__prev {
  border: none;
  background: url("../images/arrow.svg") center center/25px 60px no-repeat;
  width: 40%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  margin-top: -14px;
  z-index: 11; }
  @media only screen and (max-width: 480px) {
    .lightbox__next,
    .lightbox__prev {
      background: url("../images/arrow.svg") center center/12px 60px no-repeat;
      width: 36px; } }

@media only screen and (max-width: 480px) {
  .lightbox__title {
    font-size: 14px;
    font-weight: normal;
    margin: 0; } }

.lightbox__image {
  display: flex;
  justify-content: center;
  align-items: center; }

.lightbox__container img {
  max-width: 100%;
  border-radius: 5px;
  width: 100%;
  height: 700px;
  object-fit: cover;
  object-position: 50% 30%;
  animation: lightboxIn 0.5s; }
  @media only screen and (max-width: 480px) {
    .lightbox__container img {
      height: 248px; } }

.lightbox__container,
.lightbox__block {
  width: clamp(290px, 70%, 100%);
  position: relative;
  margin: auto; }

/* DROPDOWN */
.filter__dropdown {
  display: flex;
  align-items: center;
  margin: 3rem 0 3rem 0; }

.filter__label {
  font-size: 18px;
  font-weight: bold;
  margin-right: 25px; }

.filter__selected {
  display: none; }

.filter__select {
  background: #911c1c;
  color: white;
  border-radius: 5px;
  width: 170px;
  height: 69px;
  font-size: 18px;
  font-family: inherit;
  letter-spacing: 1px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  text-align: left;
  padding-left: 20px; }

.filter__custom-select {
  position: relative;
  display: flex;
  align-items: center; }

.filter__custom-arrow {
  transition: transform 300ms;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 1px;
  right: 1px;
  border-radius: 5px;
  height: 95%;
  width: 40px;
  cursor: pointer;
  margin: auto; }
  .filter__custom-arrow::before {
    content: url("../images/arrow-bottom.svg"); }

.filter__custom-menu {
  position: absolute;
  top: 63px;
  z-index: 12;
  background: #911c1c;
  color: white;
  width: 100%;
  font-size: 18px;
  font-weight: bold;
  padding: 0 10px;
  border-radius: 0 0 5px 5px;
  display: none;
  letter-spacing: 1px;
  box-shadow: 0px 4px 4px 0px #00000040; }

.filter__custom-option {
  padding: 14px 0 14px 10px;
  border-top: 1px solid white;
  cursor: pointer; }

.filter__show {
  display: block; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  width: 90%;
  margin: auto;
  max-width: 1440px; }

p {
  margin: 1rem 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1rem 0 2rem 0; }

ul {
  list-style: none; }

a {
  color: var(--text);
  text-decoration: none; }

img {
  max-width: 100%; }

/**
 * ----------------------------------------
 * animation 
 * ----------------------------------------
 */
@keyframes lightboxIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

body {
  font-family: var(--font-family);
  color: var(--text);
  font-size: 1.6rem;
  line-height: 1.7; }

.btn, .btn:link, .btn:visited {
  display: inline-block;
  border-radius: 7px;
  letter-spacing: 1px;
  font-weight: 700;
  cursor: pointer;
  border: none;
  width: 150px;
  height: 69px;
  font-size: 1.7rem;
  transition: all 0.3s; }
  @media only screen and (max-width: 480px) {
    .btn, .btn:link, .btn:visited {
      width: 170px;
      height: 35px; } }

.btn--primaire {
  background: var(--primaire);
  color: white; }
  .btn--primaire:hover {
    color: #000;
    background: var(--primaire-second); }

.btn--danger {
  background: var(--primaire);
  color: white; }

.media__playIcon {
  position: absolute;
  background: url("../images/playIcon.svg") center center/38px 38px no-repeat;
  height: 100%;
  width: 100%; }

.header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  width: 75%;
  overflow: hidden;
  align-items: center;
  padding-top: 35px; }
  @media only screen and (max-width: 480px) {
    .header {
      justify-content: space-between;
      width: 100%; } }
  .header__photographers {
    background: #db8876;
    border-radius: 5px;
    display: none;
    font-weight: 700;
    left: 0;
    margin: 0 auto;
    position: fixed;
    right: 0;
    text-align: center;
    top: 5px;
    width: 180px;
    z-index: 1;
    padding: 3px; }
  .header__logo img {
    width: 20rem; }
    @media only screen and (max-width: 480px) {
      .header__logo img {
        width: 128px; } }
  .header__tags {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    position: relative;
    top: 1px;
    text-transform: capitalize; }
    @media only screen and (max-width: 480px) {
      .header__tags {
        margin: 10px; } }
    .header__tags--elem {
      color: var(--primaire); }

.header.header.photographers {
  justify-content: start;
  padding-bottom: 3rem; }

.main {
  position: relative; }
  .main__title {
    color: var(--primaire);
    position: absolute;
    right: 0px;
    top: -126px; }
    @media only screen and (max-width: 480px) {
      .main__title {
        font-size: 1.4rem;
        position: fixed;
        top: 0;
        right: 0;
        margin-right: 30px;
        margin-top: 45px; } }

.photographer {
  justify-content: space-between; }
  .photographer__list {
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px; }
  .photographer__item {
    width: 30%;
    text-align: center;
    display: block;
    margin-bottom: 35px; }
    .photographer__item h2 {
      font-size: 3.6rem;
      font-weight: normal;
      color: var(--primaire-second);
      line-height: 2rem; }
    .photographer__item img {
      width: 200px;
      height: 200px;
      border-radius: 50%;
      object-fit: cover; }
    @media only screen and (max-width: 480px) {
      .photographer__item {
        width: 100%; } }
    .photographer__item--tag {
      color: var(--primaire); }
  .photographer__item__content {
    font-size: 1.3rem;
    margin-bottom: 0.7rem; }
    .photographer__item__content--location {
      text-transform: capitalize;
      color: var(--primaire);
      margin: 0; }
    .photographer__item__content--tagline {
      margin: 0;
      font-size: 1.2rem; }
    .photographer__item__content--price {
      margin: 0;
      font-size: 1rem;
      color: var(--secondaireAAA); }

.photographer {
  background: #fafafa;
  padding: 5rem;
  border-radius: 10px; }
  @media only screen and (max-width: 480px) {
    .photographer {
      padding: 0; } }
  @media only screen and (max-width: 480px) {
    .photographer {
      background: transparent; } }
  .photographer__profil {
    display: flex;
    justify-content: space-between; }
    .photographer__profil img {
      width: 200px;
      height: 200px;
      border-radius: 50%;
      object-fit: cover; }
      @media only screen and (max-width: 480px) {
        .photographer__profil img {
          height: 120px;
          width: 120px; } }
    @media only screen and (max-width: 480px) {
      .photographer__profil--img {
        width: 46%; } }
  .photographer__body {
    position: relative; }
    .photographer__body--name {
      font-size: 6.4rem;
      font-weight: normal;
      color: var(--primaire-second);
      margin: 0;
      text-transform: capitalize;
      line-height: 6rem; }
      @media only screen and (max-width: 480px) {
        .photographer__body--name {
          font-size: 3.6rem;
          line-height: 5rem; } }
    .photographer__body--location {
      font-size: 2.4rem;
      color: var(--primaire); }
      @media only screen and (max-width: 480px) {
        .photographer__body--location {
          font-size: 1.3rem;
          line-height: 0rem; } }
    .photographer__body--tagline {
      color: var(--secondaireAAA); }
      @media only screen and (max-width: 480px) {
        .photographer__body--tagline {
          font-size: 1.3rem; } }
    .photographer__body--tag {
      color: var(--primaire); }
  @media only screen and (max-width: 480px) {
    .photographer .photographer__contactButton {
      position: fixed;
      top: 95%;
      left: 50%;
      transform: translate(-50%, -50%); } }

.infos {
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  bottom: 0;
  right: 36px;
  background: #db8876;
  border-radius: 10px 10px 0 0;
  font-size: 2rem;
  font-weight: 700;
  width: 376px;
  height: 60px;
  z-index: 3; }
  @media only screen and (max-width: 480px) {
    .infos {
      display: none; } }
  .infos__likes {
    display: flex;
    align-items: center; }
    .infos__likes--total {
      margin-right: 1rem; }

.media {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  .media__card {
    cursor: pointer;
    min-width: 30%;
    width: 350px;
    margin-bottom: 30px;
    position: relative; }
    .media__card img,
    .media__card video {
      height: 370px;
      width: 100%;
      object-fit: cover;
      border-radius: 5px; }
  .media__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2.4rem;
    color: var(--primaire);
    line-height: 0rem; }
    @media only screen and (max-width: 480px) {
      .media__content {
        font-size: 2rem; } }
  .media__likes {
    display: flex;
    justify-content: space-between; }
    .media__likes--number {
      margin-right: 1rem;
      display: flex;
      align-items: center; }
