:root {
  font-family: 'Roboto', sans-serif;
  --primaire: #901c1c;
  --primaire-second: #d3573c;
  --secondaire: #d3573c;
  --secondaireAAA: #525252;
  --tertiaire: #99e2d0;
  --text: #333;
  --background-primaire: #fff;
  --background-secondaire: #f6f6f6; }

/* Landscape phones */
/* Landscape phone to portrait tablet */
/* Portrait tablet to landscape and desktop */
/* Large desktop */
.tag {
  font-weight: 500;
  font-size: 1.4rem;
  padding: 0.1rem 0.6rem;
  border: 0.5px solid #c4c4c4;
  border-radius: 11px;
  margin: 0 0.3rem 1.3rem 0.3rem;
  cursor: pointer;
  transition: all 0.3s; }
  .tag:hover {
    background-color: var(--primaire);
    color: #fff; }
  @media only screen and (max-width: 480px) {
    .tag {
      margin: 0.2rem; } }

.photographer__tag--item:first-child {
  margin-left: 0; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  width: 90%;
  margin: auto;
  max-width: 1440px; }

p {
  margin: 1rem 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1rem 0 2rem 0; }

ul {
  list-style: none; }

a {
  color: var(--text);
  text-decoration: none; }

img {
  max-width: 100%; }

/**
 * ----------------------------------------
 * animation 
 * ----------------------------------------
 */
body {
  font-family: var(--font-family);
  color: var(--text);
  font-size: 1.6rem;
  line-height: 1.7; }

.btn, .btn:link, .btn:visited {
  display: inline-block;
  border-radius: 7px;
  letter-spacing: 1px;
  font-weight: 700;
  cursor: pointer;
  border: none;
  width: 150px;
  height: 69px;
  font-size: 1.7rem;
  transition: all 0.3s; }
  @media only screen and (max-width: 480px) {
    .btn, .btn:link, .btn:visited {
      width: 170px;
      height: 35px; } }

.btn:hover {
  color: #000;
  background: var(--primaire-second); }

.btn--primaire {
  background: var(--primaire);
  color: white; }

select {
  padding: 10px 20px;
  background: #901c1c;
  color: white;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.5px;
  cursor: pointer;
  border-radius: 5px; }

select::-ms-expand {
  display: none; }

select option {
  letter-spacing: 1.2px;
  font-weight: 400;
  font-size: 18px; }

.selected {
  display: none; }

.header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  width: 75%;
  overflow: hidden;
  align-items: center;
  padding-top: 35px; }
  @media only screen and (max-width: 480px) {
    .header {
      justify-content: space-between;
      width: 100%; } }
  .header__photographers {
    background: #db8876;
    border-radius: 5px;
    display: none;
    font-weight: 700;
    left: 0;
    margin: 0 auto;
    position: fixed;
    right: 0;
    text-align: center;
    top: 5px;
    width: 180px;
    z-index: 1;
    padding: 3px; }
  .header__logo img {
    width: 20rem; }
    @media only screen and (max-width: 480px) {
      .header__logo img {
        width: 128px; } }
  .header__tags {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    position: relative;
    top: 1px;
    text-transform: capitalize; }
    @media only screen and (max-width: 480px) {
      .header__tags {
        margin: 10px; } }
    .header__tags--elem {
      color: var(--primaire); }

.header.header.photographers {
  justify-content: start;
  padding-bottom: 3rem; }

.main {
  position: relative; }
  .main__title {
    color: var(--primaire);
    position: absolute;
    right: 0px;
    top: -126px; }
    @media only screen and (max-width: 480px) {
      .main__title {
        font-size: 1.4rem;
        position: fixed;
        top: 0;
        right: 0;
        margin-right: 30px;
        margin-top: 45px; } }

.photographer__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 60px; }

.photographer__item {
  width: 30%;
  text-align: center;
  display: block;
  margin-bottom: 35px; }
  .photographer__item h2 {
    font-size: 3.6rem;
    font-weight: normal;
    color: var(--primaire-second);
    line-height: 2rem; }
  .photographer__item img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover; }
  @media only screen and (max-width: 480px) {
    .photographer__item {
      width: 100%; } }
  .photographer__item--tag {
    color: var(--primaire); }

.photographer__item__content {
  font-size: 1.3rem;
  margin-bottom: 0.7rem; }
  .photographer__item__content--location {
    text-transform: capitalize;
    color: var(--primaire);
    margin: 0; }
  .photographer__item__content--tagline {
    margin: 0;
    font-size: 1.2rem; }
  .photographer__item__content--price {
    margin: 0;
    font-size: 1rem;
    color: var(--secondaireAAA); }

.photographer {
  background: #fafafa;
  padding: 5rem;
  border-radius: 10px; }
  @media only screen and (max-width: 480px) {
    .photographer {
      padding: 0; } }
  @media only screen and (max-width: 480px) {
    .photographer {
      background: transparent; } }
  .photographer__profil {
    display: flex;
    justify-content: space-between; }
    .photographer__profil img {
      width: 200px;
      height: 200px;
      border-radius: 50%;
      object-fit: cover; }
      @media only screen and (max-width: 480px) {
        .photographer__profil img {
          height: 120px;
          width: 120px; } }
    @media only screen and (max-width: 480px) {
      .photographer__profil--img {
        width: 46%; } }
  .photographer__body {
    position: relative; }
    .photographer__body--name {
      font-size: 6.4rem;
      font-weight: normal;
      color: var(--primaire-second);
      margin: 0;
      text-transform: capitalize;
      line-height: 6rem; }
      @media only screen and (max-width: 480px) {
        .photographer__body--name {
          font-size: 3.6rem;
          line-height: 5rem; } }
    .photographer__body--location {
      font-size: 2.4rem;
      color: var(--primaire); }
      @media only screen and (max-width: 480px) {
        .photographer__body--location {
          font-size: 1.3rem;
          line-height: 0rem; } }
    .photographer__body--tagline {
      color: var(--secondaireAAA); }
      @media only screen and (max-width: 480px) {
        .photographer__body--tagline {
          font-size: 1.3rem; } }
    .photographer__body--tag {
      color: var(--primaire); }
  @media only screen and (max-width: 480px) {
    .photographer .photographer__contactButton {
      position: fixed;
      top: 95%;
      left: 50%;
      transform: translate(-50%, -50%); } }

.filter {
  display: block;
  margin-bottom: 30px;
  margin-top: 15px; }

.filter__label {
  font-size: 1.125em;
  font-weight: bold;
  margin-right: 25px; }

.infos {
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  bottom: 0;
  right: 36px;
  background: #db8876;
  border-radius: 10px 10px 0 0;
  font-size: 2rem;
  font-weight: 700;
  width: 376px;
  height: 60px;
  z-index: 3; }
  @media only screen and (max-width: 480px) {
    .infos {
      display: none; } }

.media {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  .media__card {
    min-width: 30%;
    width: 350px;
    margin-bottom: 30px; }
    .media__card img,
    .media__card video {
      height: 370px;
      width: 100%;
      object-fit: cover;
      border-radius: 5px; }
  .media__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2.4rem;
    color: var(--primaire);
    line-height: 0rem; }
    @media only screen and (max-width: 480px) {
      .media__content {
        font-size: 2rem; } }
