:root {
  // font-family
  font-family: 'Roboto', sans-serif;

  // colors
  --primaire: #901c1c;
  --secondaire: #d3573c;
  --tertiaire: #99e2d0;
  --text: #333;
  --background-primaire: #fff;
  --background-secondaire: #f6f6f6;
}
